# ==============================================================
# Salin file ini menjadi .env dan isi nilainya sesuai kebutuhan
# JANGAN commit file .env
# ==============================================================

# API
API_URL=http://localhost:8000/api

# Auth
NEXTAUTH_SECRET=your_nextauth_secret_key
NEXTAUTH_URL=http://localhost:3000

# SSO ITB
SSO_CALLBACK_URL=http://localhost:8000/api/auth/sso